{% extends "layout.html" %} 

{% block body %}
<form method="POST" action="{{url_for('msg_edit',message_id = message.id)}}">
    <table>
        <tr>
            <td>
                {{message_form.message(rows='10', cols='100')}}
                {{err}}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Post edit"/>
            </td>
        </tr>
     </table>
</form>

<form method = "GET" action = "{{url_for('thread_view', thread_id = message.thread_id)}}">
    <input type="submit" value="Cancel"/>
</form> 
{% endblock %}