{% extends "layout.html" %} 

{% block body %}
<div class="container">
    <form method="POST" action="{{url_for('thread_add', thread_id = thread_id)}}">
        <table class="table">
            <thead class="table-primary text-center">
                <tr>
                    <th colspan=1 scope="col">
                        <h4>New Message</h4>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class=col>
                        <div class="form-group" align="center">
                            <label for="search"></label>
                            {{message_form.message(rows='10', cols='100', class_="textarea form-control")}}
                            <button class="btn btn-lg btn-primary" type="submit">Post</button>
                            <button class="btn btn-lg btn-primary" formmethod="GET" formaction="{{url_for('thread_view', thread_id = thread_id)}}" type="submit">Cancel</button>
                        </div>
                    </td>
                </tr>
            </tbody>   
        </table>
    </form>    
</div>
{% endblock %}