{% extends "layout.html" %} 

{% block body %}

<form method="POST" action="{{url_for('thread_new')}}">
    <table>
        <tr>
            <td>
                {{new_thread_form.thread_title.title}}
                {{err}}
            </td>
        </tr>
        <tr>
            <td>
                {{new_thread_form.message_content.message(rows='10',cols='100')}}
                {{err}}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Post"/>
            </td>
        </tr>
     </table> 
</form>

<form method = "GET" action = "{{url_for('thread_index')}}">
    <input type="submit" value="Back to threads"/>
</form> 
{% endblock %}