{% extends "layout.html" %}
{% block body %}
    <div class="container">
        Threads
    </div>

    <div class="container" align="left">
        <div class="row table-primary header">
            <div class="col border">
                Title
            </div>
            <div class="col-2 border">
                Created on:
            </div>
            <div class="col-2 border">
                Last posted on:
            </div>

            {% if current_user.is_authenticated and current_user.is_admin() %}
                <div class="col-1 border"></div>
            {% endif %}
        </div>

        {% for thread in threads %}
            <div class="row">
                <div class="col border">
                    <a href="{{url_for('thread_view', thread_id = thread.id)}}">{{thread.title}}</a>
                </div>
                <div class="col-2 border">
                    {{thread.date_posted}}
                </div>
                <div class="col-2 border">
                    {{thread.date_edited}}
                </div>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <div class="col-1 border">
                    <form method="POST" action="{{url_for('thread_view', thread_id = thread.id)}}">
                        <button class="btn btn-sm btn-danger" type="submit">Remove</button>
                    </form>
                </div>
            {% endif %} 
            </div>
        {% endfor %}

        <div class="row table-primary header" align="center">
            <div colspan=12 class="col border">
                <form method="GET" action = "{{url_for('thread_new')}}">
                    <button class="btn btn-sm btn-primary" type="submit">Add a new thread</button>
                </form> 
            </div>
        </div>
    </div>
        


{% endblock %}        