{% extends "layout.html" %}
{% block body %}

<div class="container">
    
</div>

<div class="container">
    <table class="table table-striped">
        <thead class="bg-dark text-light">
            <tr>
                <th colspan=3 scope="col">
                    <h4>{{thread_contents[0].title}}</h4>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for message in thread_contents %}
            <tr>
                <td class=col-2>
                    <h4>{{message.username}}</h4> <br>
                    {{message.Message.date_posted.strftime('%d/%m/%Y %H:%M:%S')}} <br>
                    {{message.Message.date_edited.strftime('%d/%m/%Y %H:%M:%S')}} <br>
                    <form method="GET" class="">
                        <button class="btn btn-sm btn-primary" type="submit" formaction="{{url_for('msg_edit', message_id = message.Message.id)}}">Edit</button>
                        <button class="btn btn-sm btn-primary" type="submit" formmethod="DELETE" formaction="{{url_for('msg_edit', message_id = message.Message.id)}}">Remove</button>
                    </form>
                </td>
                <td>
                    <p>{{message.Message.content}}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>   
    </table>
</div>

<form method = "GET" action = "{{url_for('thread_add', thread_id = thread_id)}}">
    <input type="submit" value="New post"/>
</form> 

<form method = "GET" action = "{{url_for('thread_index')}}">
    <input type="submit" value="Back to threads"/>
</form> 
{% endblock %}        