{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 bg-primary border">
            <h3>{{thread_contents[0].title}}</h3>
        </div>
    </div>
    {% for message in thread_contents %}
    <div class="row message-row">
        <div class="col-2 bg-light border" align="left">
            <div class="user-row" float="top">
                <h4>{{message.username}}</h4> <br>
            </div>
            <div class="info-row">
                {%if current_user.id == message.Message.user_id or current_user.is_admin() %}
                    <form method="GET">
                        <button class="btn btn-sm btn-primary" type="submit" formaction="{{url_for('msg_edit', message_id = message.Message.id)}}">Edit</button>                        {% if current_user.is_admin() %}
                            <button class="btn btn-sm btn-danger" type="submit" formmethod="POST" formaction="{{url_for('msg_remove', message_id = message.Message.id)}}">Remove</button>
                        {% endif %}
                    </form>
                {% endif %}

                {{message.Message.date_posted}} <br>
                
                {% if message.Message.date_posted != message.Message.date_edited %}
                    Edited on<br>
                    {{message.Message.date_edited}} <br>
                {% endif %}
            </div>    
        </div>
        <div class="col-10 border" align="left">
            <p>{{message.Message.content}}</p>
        </div>
    </div>
    {% endfor %}
</div>    

<form method = "GET" action = "{{url_for('thread_add', thread_id = thread_id)}}">
    <button class="btn btn-sm btn-primary" type="submit">New post</button>
</form> 
{% endblock %}        