body {
    align-items: center;
    background-color: whitesmoke
}

.auth-form{
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.search-form{
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.thread-subjects{
    max-width: 500px;
}