{% extends "layout.html" %} 

{% block body %}

<li>{{err}}</li>

<form method="POST" action="{{url_for('auth_login')}}">
    <table>
        <tr>
            <td>
                {{login_form.username.label}}                
            </td>
            <td>
                {{login_form.username}}
            </td>
        </tr>
        <tr>
            <td>
                {{login_form.password.label}}                
            </td>            
            <td>
                {{login_form.password}}
            </td>
        </tr>        
        <tr>
            <td>
                <input type="submit" value="Login"/>
            </td>
        </tr>
     </table>
</form> 

<form method = "GET" action = "{{url_for('thread_index')}}">
    <input type="submit" value="Back to threads"/>
</form> 
{% endblock %}