{% extends "layout.html" %} 

{% block body %}
<div class="search-form">
    <form method="POST" action="{{url_for('forum_search')}}">
        <h1 class="h3 mb-3 font-weight-normal"></h1>
        
        <div class="form-group">
            <label for="search">{{search_form.search.label}}</label>
            {{search_form.search(class_="form-control", id_="search")}}
        </div>

        <div class="form-group">
            <label for="search_from">{{search_form.search_from.label}}</label>
            {{search_form.search_from(class_="form-control", id_="search_from")}}           
        </div>

        <div class="form-group">
            <label for="search_subjects">{{search_form.search_subjects.label}}</label>
            {{search_form.search_subjects(class_="form-control", id_="search_subjects")}}           
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Search</button>
    </form>
</div>
{% endblock %}