{% extends "layout.html" %}
{% block body %}
   
{% if thread_search %}
    <div class="container bg-info pb-1 mb-2">
        <h1>Found threads</h1>

        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th class="col-7" scope="col">Title</th>
                    <th class="col-2" scope="col">Created</th>
                    <th class="col-2" scope="col">Last Posted</th>
                </tr>
            </thead>

            <tbody class="bg-light">
                {% for thread in thread_search %}
                <tr>
                    <td><a href="{{url_for('thread_view', thread_id = thread.id)}}">{{thread.title}}</a></td>
                    <td>{{thread.date_posted}}</td>
                    <td>{{thread.date_edited}}</td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>      
    </div>  
{% endif %}

{% if message_search %}


    <div class="container bg-info pb-1">    
        <h1>Found messages</h1>

        {% for message_set in message_search %}
            <table class="table table-striped table-bordered">
                <thead class="table-primary text-center">
                    <tr>
                        <th colspan=12 scope="col">
                            <h4>{{message_set.title}}</h4>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="bg-light">
                        <td class=col-2>
                            <div class=message-row>
                                <div class="user-row">
                                    <h4>{{message_set.username}}</h4>
                                </div>
                                <div class="info-row">
                                    {{message_set.date_posted}} <br>
                                    {% if message_set.date_posted != message_set.date_edited %}
                                        Edited on<br>
                                        {{message_set.date_edited}} <br>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td>
                            <p>{{message_set.content}}</p>
                        </td>
                    </tr>
                </tbody> 
            </table>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}